<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKNVMY5C33"></script>
<script>
  MathJax = {
    tex: {
      packages: ['base'],
      tags: 'ams',
      packages: {'[+]': ['ams','mathtools']},
      inlineMath: [["$","$"],['\\(', '\\)']], 
      displayMath: [["$$", "$$"],['\\[', '\\]']],
      processEscapes: false,      // use \$ to produce a literal dollar sign
      processEnvironments: true, // process \begin{xxx}...\end{xxx} outside math mode
      processRefs: true,         // process \ref{...} outside of math mode
      formatError:               // function called when TeX syntax errors occur
          (jax, err) => jax.formatError(err)
    }
  }; 
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-CKNVMY5C33');
</script>